.terraform/
*.tfstate
*.tfstate.*
__pycache__/
.venv/
.env
*.pem
credentials
.DS_Store
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/lambda_function.zip
terraform/terraform.tfvars